
.container-fluid{
    max-height: none;
    max-height: 100vh;
    min-width: 1920px;
}

.page-navigation{
    min-height: 48px;
    padding: 0 16px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 16px;
    margin-bottom: 16px;
}

.page-header{
    padding-top: 16px;
    border: none;
    margin: 0;
}

h1{
    font-size: 22px;
    font-weight: 500 !important;
}

h6{
    min-height: 32px;
    color: inherit;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    align-items: center;
    display: flex !important;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    font-size: 22px !important;
}

h6 > .title{
    line-height: 32px;
    align-items: center;
    display: flex;
    font-weight: 500;
    padding-right: 16px;
}

.btn-primary{
    background-color: #102B49;
}

.text-primary{
    color: #102B49 !important;
}

.btn span{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px !important;
}

.btn-primary:hover{
    background-color: #003edf!important;
    border-color: #003edf!important;
    color: #fff!important;
    outline: 0!important;
    outline-offset: 0!important;
    
}

.main{
    position: relative;
    min-height: 200px;
    display: table;
    width: 100%;
    margin: 0;
    table-layout: fixed;
    border-spacing: 0;
    font-weight: 400;
    padding: 0;
    background-color: #F8F8F8;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    color: #30373E;
    padding: 0 16px;
}

.text-gray-400{
    font-family: "IBM Plex Sans", sans-serif;
}

.content-left{
    position: relative;
    width: 300px;
    display: table-cell;
    vertical-align: top;
    border-spacing: 0;
    min-height: 200px;
}

.content-right{
    position: relative;
    margin-left: 20px;
    min-height: 200px;
}

.offer-table{
    position: relative;
}

.offer-panel{
    position: relative;
    margin-bottom: 70px !important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border: 0;
    min-height: 82vh;
    background-color: white;
    border-radius: 4px !important;
}

.search-panel{
    top:55px;
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: 24px !important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border: 0;
    min-height: 82vh;
    max-height: 82vh;
    background-color: white;
    border-radius: 4px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.panel-content{
    top:55px;
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: 24px !important;
    min-height: 25vh;
    background-color: white;
    border-radius: 4px !important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border: 0;
}

.btn-outline-primary{
    outline: #102B49;
    border-color: #102B49;
    color: #102B49;
}

.btn-outline-primary:hover{
    background-color: #004593;
    color: white;
}


.datatable-header{
    font-size: 14px;
    color: #30373E;
    background-color: #fff;
    border-color: #DEE3E8;
    display: flex;
    align-items: center;
    padding: 32px;
    height: auto;
    min-height: 60px;
    font-weight: 400;
    font-size: 18px;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.datatable{
    width: 100%;
    margin-bottom: 0;
    overflow: auto;
    min-height: 750px !important;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0;
    -webkit-overflow-scrolling: touch;
}

.datatable-head{
    border-top: 1px solid #DEE3E8;
    border-bottom: 1px solid #DEE3E8;
    background-color: #DEE3E8;
    border-left: 0 !important;
    border-right: 0 !important;
}

.datatable-head > tr{
    border-bottom: 0;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-left: 0 !important;
    border-right: 0 !important;
}

.datatable-head > tr > th{
    padding: 8px 16px;
    line-height: 1.4;
    vertical-align: top;
    border-top: 1px solid #DEE3E8;
    background-color: #FBFBFB;
    color: #30373E;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 0 !important;
    border-right: 0 !important;
}

.cell-xxs{
    width: 50px;
}

thead th:first-child {
    border-left: none;
    padding-left: 16px !important;
}

tbody > tr > td{
    font-size: 14px;
    border: 1px solid #DEE3E8;
    border-left: 0 !important;
    border-right: 0 !important;
    line-height: 1.4;
    border-left: 0px;
    vertical-align: middle;
    word-wrap: break-word;
    background-color: transparent;
    padding: 5px 0px;
}

tbody tr td:first-child:not(.multiline-table-cell) {
    border-left: none;
    padding-left: 16px;
}

tbody > tr {
    background-color: white;
}

tbody > tr:hover{
    background-color: #f9f9f988 !important;
}

.product-item{
    min-height: 100px;
}

.img-product{
    min-width: 75px;
    width: 75px;
    padding: 5px;
    height: 75px;
    border: 1px solid #DEE3E8;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
}

.img-product > img{
    position: relative;
    height: 100%;
}

.desc-product{
    min-width: 480px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    padding: 3px 9px;
}

.desc-product-prod{
    min-width: 170px;
    max-width: 170px;
    display: flex;
    flex-direction: column;
    padding: 3px 9px;
    justify-content: center;
    overflow: hidden;
}

.desc-product-price{
    min-width: 350px !important;
    max-width: 100% !important;
}

.product-detail{
    line-height: 1.4;
    border-left: 0px;
    vertical-align: middle;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 400;
    font-family: "IBM Plex Sans", sans-serif;
    padding-left: 4px;
}

.product-detail span{
    font-size: 14px;
    font-weight: 400;
    font-family: "IBM Plex Sans", sans-serif;
}

.product-detail span i{
    min-width: 20px;
}

.product-symbol span{
    font-size: 16px;
}

.pag-text{
    line-height: 40px;
    font-weight: 400;
    color: #30373E;
    font-family: "IBM Plex Sans", sans-serif;
}

.btn-group{
    margin-left: 4px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    color: #30373E;
    border-radius: 4px !important;
}

.btn-group button{
    border-radius: 4px !important;
    height: 40px;
}

.btn-group button.btn-primary{
    background-color: #2764FF;
}

.text-primary-blue{
    color: #4e73df !important;
}

.btn-dark{
    background-color: #102B49;
}

.btn-dark:hover{
    background-color: #003edf;
}

.pag-box{
    font-weight: 400;
    margin-right: 4px;   
    font-size: 14px;
    margin-left: -8px;
    color: #30373E;
}

.pagination{
    height: 40px;
}

.h6-dropdown{
    font-weight: 400;
    color: #30373E;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px !important;
    text-align: center;
    width: 100%;
    min-height: auto !important;
    display: block !important;
}

.product-detail > .mr-3{
    cursor: pointer;
}

.span-price{
    min-width: 60px;
    display: inline-block;
}

.product-settings{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 50px;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.product-settings:hover .btn-group{
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%) !important;
    border-color: #859099 !important;
    background-color: white;
}

.datatable-header > h6{
    font-size: 14px;
    font-weight: 400;
    font-family: "IBM Plex Sans", sans-serif;
}

.card-header{
    padding: 16px 32px;
    height: auto;
    min-height: 40px;
    border: none;
    border-top: 1px solid #DEE3E8;
    border-radius: 0;
    height: inherit;
    color: #30373E;
    background-color: #fff;
    border-color: #DEE3E8;
}

.card{
    border: none;
}

.card-header button{
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    color: #30373E;
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header button:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.pointer{
    cursor: pointer !important;
}

.dropdown-menu li{
    cursor: pointer !important;
}

span{
    font-family: "IBM Plex Sans", sans-serif;
}

.action-panel{
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    width: 750px;
    margin-right: 14px;
    height: 42px;
}

.action-panel > div{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
}

.spining{
    animation: spin 2s linear 0s infinite reverse;
    -moz-animation: 2s linear 0s reverse none infinite spin;
    -webkit-animation: spin 2s linear 0s infinite reverse;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
}


.pagination::ng-deep .page-item .page-link {
    border-color: #DEE3E8 !important;
    background-color: #fff !important;
    color: #30373E;

    font-family: "IBM Plex Sans", sans-serif;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px !important;
    line-height: 24px !important;
    height: 40px !important;
    font-size: 14px !important;
    transition: all 0.15s ease-in-out;
}

.pagination::ng-deep .page-item .page-link:hover{
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%) !important;
    border-color: #859099 !important;
}

.pagination::ng-deep .page-item.active .page-link {
    border-color: #30373E !important;
    background-color: #F8F8F8 !important;
    color: #30373E !important;
}

.scroll-up{
    position: fixed;
    right: 8px;
    bottom: 15px;
    background-color: white;
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%) !important;
    border-color: #859099 !important;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    border-radius: 4px;
}

.scroll-up:hover{
    color: white !important;
    background-color: #102B49 !important;
}

.scroll-up:hover > i{
    color: white !important;
}

.product-detail.group:hover {
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%) !important;
    border-color: #859099 !important;
    background-color: white;
}

.hover-drop{
    transition: all 0.15s ease-in-out;
}

.hover-drop:hover{
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%) !important;
    border-color: #859099 !important;
    background-color: white;
}

.product-detail.group {
    padding: 8px 4px;
    margin-top: 6px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    min-width: 400px;
    display: flex;
    align-items: center;
}

.group input{
    padding: 0rem 0.75rem;
    max-height: 25px;
}

.group button{
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.product-detail.group:hover button{
    opacity: 1;
}

.dropdown-item i{
    min-width: 20px;
}

.modal-datatable{
    max-height: 70vh;
    overflow: hidden;
    min-height: 200px !important;
    padding: 6px 32px;
}

label{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
}

.input-group span, .input-group-text{
    max-height: 35px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    background: white;
    border: 1px solid #102b4975;
    z-index: 2;
    min-width: 50px;
    align-items: center;
    justify-content: center;
}

small.col-2{
    position: relative;
    top:-10px
}

.errorCheck input, .errorCheck .col-10{
    color: #e74a3b !important;
    visibility: visible !important;
}

input, .text-gray-700, label, button{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
}

.form-check{
    display: flex;
}

.form-check-inline{
    display: inline-flex !important;
}

h6.text-primary{
    font-size: 16px !important;
}

.label-moved{
    position: relative;
    top: 2px;
}

label{
    color: #102b49e7;
}

.header-aditional{
    font-size: 14px !important;
    background-color: #f5f5f545;
    border-color: #859099 !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24) !important;
    text-align: center;
    min-height: 40px;
    padding: 0.25rem;
}
.header-aditional span{
    display: block;
    width: 100%;
    text-align: center;
}

input[type='checkbox'], input[type='radio'], label, .typeheadArrow{
    cursor: pointer;
}

textarea{
    min-height: 75px !important;
}

.product-detail.err > div{
    display: inline-block;
    min-width: 120px;
    cursor: pointer;
}

.modal-lg{
    width: 100vw;
    max-width: 80vw;
}

.modal-sm{
    width: 100vw;
    max-width: 1100px;
}

.modal-scroll-content{
    max-height: calc(780px - 110px);
    overflow: hidden;
    padding-right: 20px;
    overflow-y: scroll;
  }

.dropdown-toggle::after{
    display: none;
    visibility: hidden;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #102B49;
    border-color: #102B49;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #102B49 !important;
}

.btn-square{
    min-width: 30px;
    height: 30px;
    padding: 5px;
    background-color: white;
}

.sticky-header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #DEE3E8;
}


.prod-scroll-container{
    max-height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
}

.border-repair td, .border-repair{
    border-top: none !important;
}


.under-title{
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    text-align: center;
}

.form-control:disabled{
    background-color: #f9f9f9 !important;
}

.under-title::after{
    content: "";
    left: 0;
    font-size: 70%;
    font-weight: 400;
    font-family: "IBM Plex Sans", sans-serif;
    color: #b7b9cc!important;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
    text-transform: capitalize; 
}

.under-title *{
    min-height: 20px !important;
    display: inline-block;
}

.under-title input{
    font-size: 90%;
}

.under-title.title-producer::after{
    content: "(Producent)";
}
.under-title.title-series::after{
    content: "(Seria)";
}
.under-title.title-type::after{
    content: "(Typ produktu)";
}
.under-title.title-ident::after{
    content: "(Identyfikator)";
}
.under-title.title-unit::after{
    content: "(Miara)";
}

.under-title.title-producer{
    text-transform: uppercase;
}
.under-title.title-series, .under-title.title-color{
    text-transform: capitalize; 
}

label small{
    text-transform: capitalize; 
}

.under-title.requ::before {
    content: "";
    position: absolute;
    top: 2px;
    left: calc(100% - 12px);
    height: 10px;
    width: 10px;
    background: #dc354536;
    z-index: 10;
    border-radius: 50%;
}

.flex-scroll{
    flex-wrap: nowrap;
    position: relative;
    max-width: 570px;
    min-width: 75px;
    overflow: hidden;
    overflow-x: auto;
}

.text-dot{
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 1.4em;
    white-space: nowrap;
}

.typeheadArrow {
    position: absolute;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
    z-index: 5;
    pointer-events: none;
}

.img-holder {
    width: 75px;
    height: 75px;
    cursor: pointer;
    border: 1px solid #DEE3E8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.img-holder-area{
    position: relative;
    height: 85px;
    display: flex;
    padding-bottom: 5px;
    padding: 3px;
    border: dashed 2px #0003;
}

.img-holder-area img{
    position: absolute;
    max-height: 100%;
}

.img-holder > img{
    position: absolute;
    max-width: 70px;
    max-height: 70px;
}

.img-holder-area > div{
    gap: 5px;
}

.img-holder-area-limited{
    max-width: 75px !important;
    flex-wrap: wrap !important;
}

.img-holder:hover, .img-holder:hover * {
    border-color: #102b49;
    color: #102b49 !important;
}

.custom-file-label::after{
    content: 'Wybierz';
}

.set-translation{
    transform: translateY(-120%) !important;
}

.table-inputs-col{
    gap: 8px;
    min-height: 65px;
    flex-direction: row;
    max-width: 100% !important;
}

.search-result{
    box-shadow: inset 4px 0px 0px 1px #102b49;
}

.card > div:first-child, a{
    cursor: pointer;
    transition: .3s ease-in-out;
}

.card > div:first-child:hover {
    background-color: #f3f3f378 !important;
}

.datatable-header > h6 > i{
    opacity: 0.2;
}